@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-grey {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 9999px;
        --tw-bg-opacity: 1;
        background-color: rgb(159 159 159 / var(--tw-bg-opacity))
    }

    .btn-grey:hover,
    .btn-grey:active {
        --tw-bg-opacity: 1;
        background-color: rgb(242 242 247 / var(--tw-bg-opacity))
    }

    .btn-orange {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 9999px;
        --tw-bg-opacity: 1;
        background-color: rgb(255 149 0 / var(--tw-bg-opacity));
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity))
    }

    .btn-orange:hover {
        --tw-bg-opacity: 1;
        background-color: rgb(246 188 128 / var(--tw-bg-opacity))
    }

    .btn-orange:focus {
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
        --tw-text-opacity: 1;
        color: rgb(255 149 0 / var(--tw-text-opacity))
    }

    .btn-orange:active {
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
        --tw-text-opacity: 1;
        color: rgb(255 149 0 / var(--tw-text-opacity))
    }

    .btn-dark {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 9999px;
        --tw-bg-opacity: 1;
        background-color: rgb(49 49 49 / var(--tw-bg-opacity));
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity))
    }

    .btn-dark:hover,
    .btn-dark:active {
        --tw-bg-opacity: 1;
        background-color: rgb(176 176 182 / var(--tw-bg-opacity))
    }
}